<!-- -*- eval: (electric-indent-local-mode -1) -*- -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>embec.js</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link href="style.css" rel="stylesheet">
<script src="embec.js"></script>
</head>
<body>

<header class="page-header">
  <h1 style="">embec.js</h1>
  <h2 style=""><span>Emb</span>edded <span>Ec</span>maScript - a
    JavaScript templating engine</h2>
</header>

<section>
  <h2>Intro</h2>
  <p>Embec is dumb and probably isn't what you're looking for. It's a
  template engine with no frills—it's just one small file and no
  dependencies. It either runs in your environment, or it doesn't.</p>
  <p>What can it do? All the normal templating stuff: interpolate,
  flow control, includes, and blocks.</p>
  <p>What it will never do? File IO, impose a stucture or a style on
  your project, be packaged for NPM, touch the DOM or use any JS
  feature restricted to a browser.</p>
  <p>Don't use Embec! It isn't what you're looking for. I made it to
  embed in an app I'm working on. Maybe it should be called
  embembec.js. 🤷‍♂️</p>
</section>

<section>
  <h2>API</h2>
  <p>Create template functions using the <tt>Template</tt>
  constructor.</p>
  <dl>
    <dt><tt>var t = new Template(source)</tt></dt>
    <dd>A template function <tt>t()</tt></dd>

    <dt><tt>var n = new Template(name, source)</tt></dt>
    <dd>A template function <tt>n()</tt> named <tt>name</tt></dd>

    <dt><tt>var c = new Template([src1, src2])</tt></dt>
    <dd>A template function <tt>c()</tt> composed of <tt>src1</tt> and
      by applying the blocks in <tt>src2</tt></dd>

    <dt><tt>var nc = new Template(name, [src1, src2])</tt></dt>
    <dd>A template function <tt>nc()</tt> named <tt>name</tt> composed
      of <tt>src1</tt> and by applying the blocks
      in <tt>src2</tt></dd>
  </dl>

  <p>Render templates by calling the function with an argument
    object.</p>
  <dl>
    <dt><tt>var s = t(obj)</tt></dt>
    <dd>A rendered template <tt>s</tt> as a string</dd>

    <dt><tt>var r = t({ one: 1, two: 2 })</tt></dt>
    <dd>A rendered template <tt>r</tt> as a string</dd>

    <dt><tt>element.innerHTML = t({ one: 1, two: 2 })</tt></dt>
    <dd>A rendered template inserted into <tt>element</tt></dd>
  </dl>
</section>

<section>
  <div class="row">
    <div class="">
      <h2>Tags</h2>
      <p>Embec tags are where you tell the template compiler to stop
      copying and to start doing some processing. All tags start
      with <tt>&lt;%</tt> and end with <tt>%&gt;</tt>.</p>
    </div>
    <div class="">
      <h3>Description</h3>
      <p>Embec has several tags.</p>
      <dl>
        <dt><tt>&lt;% %&gt;</tt></dt>
        <dd>Statement tag</dd>

        <dt><tt>&lt;%= %&gt;</tt></dt>
        <dd>Interpolate tag</dd>

        <dt><tt>&lt;%# %&gt;</tt></dt>
        <dd>Comment tag</dd>
      </dl>
    </div>
  </div>

  <div class="row">

    <div class="">
      <h3>Example</h3>
      <pre id="tag_display" class=""></pre>
    </div>

    <div class="">
      <h3>Output</h3>
      <pre id="tag_output"></pre>
    </div>
  </div>

<script>
var source =
`<% for (let item of [10, 20, 30]) { %>
<p><%= item %></p>
<% } %>`
tag_display.innerText = source
tag_output.innerText = (new Template(source))()
</script>
</section>

<section>
  <div class="row">
    <div class="">
      <h2>Environment</h2>
      <p>The environment is the universe of things that can be
      referenced from the current template. This includes the argument
      object. The contents of the argument object are accessed through
      the <tt>@</tt> symbol.</p>
      <p>If you want to dump the environment place <tt>&lt;% env()
      %&gt;</tt> somewhere in your template.</p>
    </div>
    <div class="">
      <h3>Using the argument object</h3>
      <p>Given an argument object <tt>arg</tt></p>
      <pre id="env_display0"></pre>
      <p>and a template function <tt>t()</tt> called with the argument
      object <tt>t(arg)</tt></p>
      <dl>
        <dt><tt>@.a</tt></dt>
        <dd>evaluates to <tt>1</tt></dd>

        <dt><tt>@.b</tt></dt>
        <dd>evaluates to <tt>2</tt></dd>

        <dt><tt>@.c[0]</tt></dt>
        <dd>evaluates to <tt>10</tt></dd>
      </dl>
    </div>
  </div>

  <div class="row">

    <div class="">
      <h3>Example</h3>
      <pre id="env_display1"></pre>
      <pre id="env_display2"></pre>
    </div>

    <div class="">
      <h3>Output</h3>
      <pre id="env_output"></pre>
    </div>

  </div>

<script>
var src1 = `<% env() %>`
var argt = `var arg = {
    a: 1,
    b: 2,
    c: [10, 20]
}`
var src2 = argt + `
var tmpl = new Template(src1)
var output = tmpl(arg)`
eval(src2)
env_display0.innerText = argt
env_display1.innerText = src1
env_display2.innerText = src2
env_output.innerText = output
</script>

</section>

<section>
  <h2>Arguments</h2>
</section>

<section>
  <h2>Includes</h2>
</section>

<section>
  <h2>Blocks</h2>

  <div class="row">
    <div>
      <h3>The special <tt>$content</tt> block</h3>
      <p>Any conent outside of a block region will go in the
      designated content block.</p>
    </div>
  </div>

  <div class="row">
    <div>
      <h3>Example template1.html</h3>
      <pre id="content_display1" class=""></pre>
    </div>
    <div>
      <pre id="content_output1" style="display: none" class=""></pre>
    </div>
  </div>
  <div class="row">
    <div>
      <h3>Example template2.html</h3>
      <pre id="content_display2" class=""></pre>
    </div>
    <div>
      <h3>Output</h3>
      <pre id="content_output2" class=""></pre>
    </div>
  </div>

<script>
var src1 = `<% block('region1') %>
<% end('region1') %>
<% $content %>`
var src2 = `Outside the block.
<% block('region1') %>
Inside region one.
<% end('region1') %>`
content_display1.innerText = src1
content_display2.innerText = src2
content_output2.innerText = (new Template([src1, src2]))()
</script>
</section>

<section>
  <h2>More examples</h2>
</section>

<section>
<style>
ul { list-style:none; padding-inline-start: 1em; }
ul li > span { padding-left: 1em; }
details:focus, summary:focus { outline: none; }
.pass::before { content: "✓ "; color: green; }
.fail::before { content: "✗ "; color: red; }
</style>

  <h2>Tests</h2>
  <ul class="testReport" id="domOutput"></ul>

<script id="testTmplSrc1" type="x/embec">
<% block('one') %><% end('one') %>
<% block('two') %><% end('two') %>
</script>

<script id="testTmplSrc2" type="x/embec">
</script>

<script id="testTmplSrc2wb1" type="x/embec">
<% block('one') %>1<% end('one') %>
</script>

<script id="testTmplSrc2wb1b2" type="x/embec">
<% block('one') %>1<% end('one') %>
<% block('two') %>2<% end('two') %>
</script>

<script id="testTmplSrc3" type="x/embec">
<% debugger %>
<% block('one') %>one<% end('one') %>
<% block('two') %>two<% end('two') %>
</script>

<script>
(function (fnNS, testNS) {
    var suites = []

    if (testNS === undefined)
        testNS = fnNS

    if (fnNS === undefined)
        fnNS = this

    function describe(name, behaviors) {
        suites.push({
            name: name,
            behaviors: [],
            passed: true,
        })
        behaviors()
    }

    function it(description, behavior) {
        var suite = suites.pop()
        suite.behaviors.push({
            description: description,
            behavior: behavior,
            passed: true,
            failReason: null,
            asserts: []
        })
        suites.push(suite)
    }

    function assert(condition, description) {
        this.asserts.push({
            passed: condition,
            description: description
        })
        this.passed &&= condition
    }

    function run() {
        for (var suite of suites) {
            for (var behavior of suite.behaviors) {
                try {
                    fnNS.assert = assert.bind(behavior)
                    behavior.behavior()
                } catch (e) {
                    behavior.failReason = e
                    behavior.passed = false
                }
                suite.passed &&= behavior.passed
            }
        }
    }

    // reportCB(type, name/desc, passed)
    function report(reportCB) {
        for (var suite of suites) {
            reportCB('suite', suite.name, suite.passed)
            for (var behavior of suite.behaviors) {
                reportCB('behavior', behavior.description, behavior.passed)
                if (behavior.failReason)
                    reportCB('error', behavior.failReason, false)
                for (var assert of behavior.asserts)
                    reportCB('assert', assert.description, assert.passed)
            }
        }
    }

    function stats() {
    }

    function reset() {
        suites = []
    }

    fnNS.describe = describe
    fnNS.it = it
    fnNS.assert = assert

    testNS.run = run
    testNS.report = report
    testNS.stats = stats
    testNS.reset = reset

})(this, this['Units'] = {})
</script>
<script>
Units.reset()
describe('multiple blocks', function () {
    it('handles blocks w/o second template', function () {
        let src = testTmplSrc1.textContent
        let tmpl = new Template(src)
        assert(typeof tmpl() == 'string', 'renders to string')
    })
    it('handles a second template w/o blocks', function () {
        let src1 = testTmplSrc1.textContent
        let src2 = testTmplSrc2.textContent
        let tmpl = new Template([src1, src2])
        assert(typeof tmpl() == 'string', 'renders to string')
    })
    it('handles a second template missing block', function () {
        let src1 = testTmplSrc1.textContent
        let src2 = testTmplSrc2wb1.textContent
        let tmpl = new Template([src1, src2])
        assert(typeof tmpl() == 'string', 'renders to string')
    })
    it('handles a second template with all blocks', function () {
        let src1 = testTmplSrc1.textContent
        let src2 = testTmplSrc2wb1b2.textContent
        let tmpl = new Template([src1, src2])
        assert(typeof tmpl() == 'string', 'renders to string')
    })
    it('handles three templates', function () {
        let src1 = testTmplSrc1.textContent
        let src2 = testTmplSrc2wb1b2.textContent
        let src3 = testTmplSrc3.textContent
        let tmpl = new Template([src1, src2, src3])
        console.log(tmpl())
        assert(typeof tmpl() == 'string', 'renders to string')
    })
})
Units.run()
var curReport = domOutput
var curSuite = null
var curBehavior = null
Units.report(function(type, name, passed) {
    function className(passed) {
        return `${passed ? 'pass' : 'fail'}`
    }
    var domBuilder = {
        suite: function () {
            let li = document.createElement('li')
            let details = document.createElement('details')
            let summary = document.createElement('summary')
            let span = document.createElement('span')
            let ul = document.createElement('ul')
            li.className = type
            span.className = className(passed)
            span.innerText = name
            summary.appendChild(span)
            details.appendChild(summary)
            details.appendChild(ul)
            details.open = !passed
            li.appendChild(details)
            curSuite = ul
            curReport.appendChild(li)
        },
        behavior: function () {
            let li = document.createElement('li')
            let details = document.createElement('details')
            let summary = document.createElement('summary')
            let span = document.createElement('span')
            let ul = document.createElement('ul')
            li.className = type
            span.className = className(passed)
            span.innerText = name
            summary.appendChild(span)
            details.appendChild(summary)
            details.appendChild(ul)
            details.open = !passed
            li.appendChild(details)
            curBehavior = ul
            curSuite.appendChild(li)
        },
        assert: function () {
            let li = document.createElement('li')
            let span = document.createElement('span')
            li.className = type
            span.className = className(passed)
            span.innerText = name
            li.appendChild(span)
            curBehavior.appendChild(li)
        },
        error: function () {
            let li = document.createElement('li')
            let span = document.createElement('span')
            li.className = type
            span.className = className(passed)
            span.innerText = name
            li.appendChild(span)
            curBehavior.appendChild(li)
        },
    }
    domBuilder[type]()
})
</script>
</section>

<section>
  <h2>Acknowledgments</h2>
</section>

<section>
<h2>License</h2>
<pre class="no-style">
MIT LICENSE

Permission is hereby granted, free of charge, to any person obtaining
a copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
</pre>
</section>

<footer>
<p class="copy">Copyright © 2021 Eddie Hillenbrand</p>
</footer>

</body>
</html>
